<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enviamos parámetros del request HTTP GET de la URL</title>
</head>
<body>
<h1>Enviamos parámetros del request HTTP GET de la URL</h1>
<ul>
	<li><a th:href="@{/params/string(texto='Hola Angel')}">/params/string?texto=Hola Angel</a></li>
	<li><a th:href="@{/params/string(texto='Hola Vale')}">/params/string?texto=Hola Vale</a></li>
	<li><a th:href="@{/params/mix-params(saludo='Como estas Angel', numero= 3)}">/params/mix-params&saludo=Como estas Angel&numero=3</a></li>
	<li><a th:href="@{/params/mix-params-request(saludo='Como estas Angel', numero= 3)}">/params/mix-params-request&saludo=Como estas Angel&numero=3</a></li>
</ul>

</body>
</html>